@inject IHttpContextAccessor contextAccessor;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (!String.IsNullOrEmpty(contextAccessor.HttpContext.Session.GetString("UserId")))
{
    <form method="post" asp-controller="Auth" asp-action="Logout">
        <button class="btn btn-danger">Logout</button>
    </form>
}
